@font-face {
    font-family: amiko;
    src: url(/fonts/Amiko/Amiko-Regular.ttf);
}

@font-face {
    font-family: amikoB;
    src: url(/fonts/Amiko/Amiko-Bold.ttf);
}

@font-face {
    font-family: archivo;
    src: url(/fonts/Archivo/static/Archivo-Regular.ttf);
}

.maincolor{
    background-color: #A2B1FF;
}

.secondcolor {
    color: #6E9FFF;
}

.fifty {
    font-size: 50px;
    color: white;
}

.thirtyf{
    font-size: 35px;
    color: white;
}

.thirtyfb{
    font-size: 35px;
}

.twenty{
    font-size: 20px;
    color:  white;
}

.amikoB{
    font-family: amikoB;
}

.amiko{
    font-family: amiko;
}

.archivo{
    font-family: archivo;
}

.padtop1{
    padding-top: 250px;
}
.padtop2{
    padding-top: 200px;
}
.padtop3{
    padding-top: 100px;
}
.padtop4{
    padding-top: 50px;
}
.margins{
    margin-left: 70px;
    margin-right: 70px;
}

.imghover{
    cursor: pointer;
}

.button1{
    width: 300px;
    height: 85px;
    border-top: none;
    border-right: none;
    background-color: #A2B1FF;
    color: white;
    border-color: #6E9FFF;    
    border-left-width: 15px;
    border-bottom-width: 10px;
}
.button2{
    width: 100px;
    height: 100px;
    border-width: 0px;
}
.button3{
    width: 150px;
    height: 85px;
    border-top: none;
    border-right: none;
    background-color: #A2B1FF;
    color: white;
    border-color: #6E9FFF;    
    border-left-width: 15px;
    border-bottom-width: 10px;
}
.button4{
    margin-top: 180px;
    width: 150px;
    height: 150px;
    background-color: #6E9FFF;
    color: white;
}

.backgroundbox{
    background-color: #6E9FFF;
    height: 470px;
}

.hide{
    display: none !important;
}

.modal-content{
    height: 800px;
    background-color: #6E9FFF;
    color: white;
}